html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-shadow: inherit;
   margin: 0;
}

body {
   background-color: rgb(228, 228, 228);
}

.container {
   width: 40vw;
   margin: 30px auto;
   padding: 10px 40px;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
}

.form_group {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 10px 0;
}
.form_group > span + div {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
}

.form_group > span + div input {
   display: inline;
   width: calc(100%);
}

.form_group > span + div input[type="number"],
input#kanton {
   width: calc(30%);
}

.form_label {
   color: #818181b4;
   font-size: 0.8rem;
   width: 50%;
}

input[type="text"],
input[type="text"]:visited,
input[type="tel"],
input[type="tel"]:visited,
input[type="number"],
input[type="number"]:visited,
input[type="url"],
input[type="url"]:visited,
input[type="email"],
input[type="email"]:visited {
   width: 50%;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-bottom: 1px solid #929292b4;
   color: #8d8d8db4;
   outline: none;
}

input[type="radio"] {
   opacity: 0;
   position: fixed;
   width: 0;
}

.radio_field {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 50%;
}

.radio_field label {
   display: block;
   text-align: center;
   width: calc(100%);
   padding: 10px 30px;
   border: 1px solid #818181b4;
   border-radius: 5px;
}

input[type="radio"]:checked + label {
   color: #bd1616;
   border-bottom: 1px solid #bd1616;
   box-shadow: inset 0 -3px 0 0;
}

input[type="radio"]:focus + label {
   color: #bd1616;
   border-bottom: 1px solid #bd1616;
   box-shadow: inset 0 -3px 0 0;
}

input[type="radio"] + label:hover {
   color: #bd1616;
   border-bottom: 1px solid #bd1616;
   box-shadow: inset 0 -3px 0 0;
}

fieldset {
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 2px solid black;
   margin: 10px 0;
   padding: 10px 0;
}

h1 {
   margin: 15px 0;
   padding: 15px 0;
}

h1::before {
   content: "";
   border-top: 10px solid black;
   height: 10px;
   width: 10rem;
   display: block;
   margin-bottom: 1rem;
}

h4 {
   margin: 10px 0;
   padding: 10px 0;
}

form {
   border-top: 2px solid black;
}

button {
   border-radius: 5px;
   background-color: #bd1616;
   color: white;
   width: 150px;
   margin: 10px 0 10px auto;
   padding: 15px 0px;
   font-size: large;
   box-shadow: 1px 1px 1px 1px grey;
   border: none;
}

form > div:last-child {
   display: flex;
   justify-content: flex-end;
}

fieldset:last-of-type {
   border-bottom: 0;
}

.form_entity {
   position: fixed;
   border: 1px solid black;
   border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
   .container {
      width: 60vw;
   }
}

@media only screen and (max-width: 600px) {
   .container {
      width: 80vw;
   }
}

@media only screen and (max-width: 380px) {
   .container {
      width: 100vw;
   }

   .form_group {
      display: block;
      width: 100%;
      padding: 10px 10px;
   }

   .radio_field {
      display: block;
      width: 100%;
   }
}
