html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
}

body {
   background-color: #ccc;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

main {
   width: 75vw;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 25vh repeat(2, 1fr) 20vh;
   background-color: #fff;
   margin: 3rem auto;
}

h1 {
   align-self: center;
   grid-column: 1/3;
   grid-row: 1/2;
   font-size: 2em;
   font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400;
   color: rgb(114, 113, 113);
   text-transform: uppercase;
   margin: 2.5rem 0;
}

p {
   max-width: 30rem;
   margin: 0 0 6rem 0;
   font-size: 19px;
   line-height: 1.5;
}

strong {
   color: black;
}

article:first-of-type {
   display: flex;
   justify-content: space-around;
   grid-column: 1/3;
   grid-row: 2/3;
   text-align: center;
}

article:last-of-type {
   display: flex;
   justify-content: space-around;
   grid-column: 1/3;
   grid-row: 3/4;
}

img {
   max-width: 31vw;
   max-height: 29vh;
}

section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

button {
   grid-column: 1/3;
   text-transform: uppercase;
   font-size: 1.2rem;
   text-align: center;
   width: 16rem;
   height: 4rem;
   background-color: #fff;
   border: 0.5px solid black;
   margin: -1rem auto 0 auto;
}

@media screen and (max-width:768px) {
   main {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
   }

   article {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   img {
      max-width: 50vw;
   max-height: 40vh;
   }
}